//
//  MeterTests.xcconfig
//  Meter
//
//  Created by Matt Massicotte on 2020-06-30.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "xcconfigs/UniversalFramework_Test.xcconfig"

SUPPORTED_PLATFORMS = macosx iphonesimulator iphoneos appletvos appletvsimulator
